@import url(css2.css);

li {
    list-style-type: none;
    text-align: center;
    background-color: orange;
    color: antiquewhite;
}


.card {
    display: grid;
    grid-template-columns: auto;
    background-color: #ff6200;
    padding: 10px;
  }
  
  .card1 {
    background-color:antiquewhite;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
 
  .p2 {
      align-items: right;
      text-align: center;
  }

  #share {
    text-align: center;
    display: grid;
  }
